include README.md
include chem_calc/4f.p
include chem_calc/allelectrons.p
include chem_calc/period.p
include chem_calc/5d.p
include chem_calc/add4f5d.p
include chem_calc/sub4f5dabs.p
include chem_calc/val_e.p
include chem_calc/atomicnumber.p
include chem_calc/atomicweight.p
include chem_calc/atten_co.p
include chem_calc/atten_inco.p
include chem_calc/density.p
include chem_calc/co_scatt.p
include chem_calc/el_neg_chi.p
include chem_calc/ex_energy.p
include chem_calc/inco_scatt.p
include chem_calc/ionenergy.p
include chem_calc/pe_abs.p
include chem_calc/R_cov_element.p
include chem_calc/R_vdw_element.p
include chem_calc/zaratio.p
